<?js
var betterDocs
var data = obj;
var self = this;

if(env.conf.templates && env.conf.templates.betterDocs) {
    betterDocs = env.conf.templates.betterDocs
} else {
    betterDocs = {}
}
?>

<?js if (data.kind === 'package') { ?>
    <h3><?js= betterDocs.name ?></h3>
<?js } ?>

<?js if (data.readme) { ?>
    <section>
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>

<?js if (data.kind === 'package') { ?>
    <pre class="prettyprint"><code class="language-html">&lt;script src="https://app.mapsindoors.com/mapsindoors/js/sdk/<?js=data.version?>/mapsindoors-<?js=data.version?>.js.gz"&gt;&lt;/script&gt;</code></pre>
<?js } ?>